*{
    border: 0;
}
/* HEADER START*/
.logo{
    background-image: url("../img/pattern.png");
    background-color: rgb(78, 160, 255);
}

#booleaner{
    width: 150px;
    height: 150px;
}
.written{
    color: rgb(124, 124, 124);
}

.headerSpan{
    color: rgb(75, 186, 234);
}
/* HEADER END */

/* MAIN START */
.mainSpan{
    background-color: rgb(255, 255, 0);
}

table{
    width: 100%;
}

.twoColumns{
    width: 25%;
}

.bigColumn{
    width: 50%;
}
.firstrow{
    background-color: rgb(32, 169, 229);
    color: rgb(255, 255, 255);
}

.cyanrow{
    background-color: rgb(177, 229, 242);
}
/* MAIN END */

/* FOOTER START */
footer{
    margin-top: 30px;
}
.firstFooter{
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 200px;
    background-size: cover;
    margin-bottom: 10px;
    color: rgb(251, 251, 251);
}

.secondFooter{
    background-image: url("../img/graph.jpg");
    width: 250px;
    height: 200px;
    background-size: cover;
    color: rgb(251, 251, 251);
}

.firstFooter, .secondFooter{
    padding-top: 1px;
    padding-left: 10px;
}
/* FOOTER END */