*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

#banner{
    background-image: url("../img/pattern.png");
    height: 170px;
    background-color: rgb(78, 160, 255);
}

#logo{
    height: 100px;
    margin-top: 70px;
}

h1{
    font-size: 50px;
}

.author{
    color: rgb(44, 174, 230);
}

.written{
    color: rgb(120, 120, 120);
    font-size: 25px;
}

/* MAIN */

.highlight{
    background-color: rgb(255, 255, 0);
}

.single, .double{
    background-color: rgb(32, 169, 229);
    color: white;
}

td{
    background-color: rgb(177, 229, 242);
}

.blank-row{
    background-color: white;
}

table{
    border-collapse: collapse;
}

.single{
    width: 25%;
}
.double{
    width: 50%;
}

.section{
    margin: 25px 0;
}
.list.section{
    margin-left: 20px;
}