*{
    border: 0;
}

.logo{
    background-image: url("../img/pattern.png");
    background-color: rgb(78, 160, 255);
}

#booleaner{
    width: 150px;
    height: 150px;
}
.written{
    color: rgb(124, 124, 124);
}

.headerSpan{
    color: rgb(75, 186, 234);
}

.mainSpan{
    background-color: rgb(255, 255, 0);
}

table{
    width: 100%;
}

.firstrow{
    background-color: rgb(32, 169, 229);
    color: rgb(255, 255, 255);
}

.cyanrow{
    background-color: rgb(177, 229, 242);
}